<ion-view title="Map Test">
    <ion-pane>
        <ion-header-bar class="bar-stable">
            <h1 class="title">Embedded Google Map Test</h1>
        </ion-header-bar>
        <ion-content>
            <!-- Place -->
            <!--<iframe-->
                <!--width="100%"-->
                <!--height="100%"-->
                <!--frameborder="0" style="border: 0"-->
                <!--src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDu_HTnU6DCGuxQBEJ0KbK_6-8ulZfDxGM-->
    <!--&q=30.267153,-97.743061">-->

            <!--</iframe>-->
            <!-- Direction -->
            <!--<iframe-->
                <!--width="100%"-->
                <!--height="100%"-->
                <!--frameborder="0" style="border: 0"-->
                <!--src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDu_HTnU6DCGuxQBEJ0KbK_6-8ulZfDxGM-->
    <!--&origin=30.267153,-97.743061-->
    <!--&destination=32.776664, -96.796988">-->
            <!--</iframe>-->
            <button type="button" ng-click="goToMap()">Go To Map Plugin</button>

        </ion-content>
    </ion-pane>
</ion-view>